@charset "UTF-8";


body{
	background: #000;
	color: #fff;
	font-family: Helvetica, Arial;
	text-align: justify;
	pointer-events: none;
  -webkit-user-select: none;
}

#text-clock{
	text-transform: uppercase;
	padding-top: 100px
}

p, span{
	color: #333333;
	transition: color 0.4s ease-out;
	-ms-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -webkit-transition: color 0.4s ease-out;
	letter-spacing: 20.3px;
	font-size: 17px;
}

#es, span.active{
	color: #fff !important;
	transition: color 0.4s ease-out;
	-ms-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -webkit-transition: color 0.4s ease-out;
}

#line-1, #line-1 span{
	letter-spacing: 21.3px;
}
#line-2, #line-2 span{
	letter-spacing: 20.5px;
}
#line-3, #line-3 span{
	letter-spacing: 21.1px;
}
#line-4, #line-4 span{
	letter-spacing: 21.3px;
}
#line-5, #line-5 span{
	letter-spacing: 21px;
}
#line-6, #line-6 span{
	letter-spacing: 21.4px;
}
#line-7, #line-7 span{
	letter-spacing: 20.9px;
}
#line-8, #line-8 span{
	letter-spacing: 20.8px;
}
#line-9, #line-9 span{
	letter-spacing: 21.3px;
}
#line-10, #line-10 span{
	letter-spacing: 21.0px;
}
#line-12, #line-12 span{
	letter-spacing: 21.3px;
}
#line-13, #line-13 span{
	letter-spacing: 21.3px;
}
#line-14, #line-14 span{
	letter-spacing: 21.3px;
}
#line-16, #line-16 span{
	letter-spacing: 20.7px;
}

.hidden{
	display: none;
}